
h1 {
	font-family: "Times New Roman", Times, serif;
	font-size: 60px;
	text-align: center;
	color: ivory;
	padding-bottom: 30px;
	padding-top: 25px;
	text-shadow: 10px 5px 5px darkgreen;
	opacity: 12;
	border: none;

	
}


.topnav {
	color: darkgreen;
}

.topnav a {
	font-family: helvetica, sans-serif;
  padding: 15px;
/*   background-color: ivory; */
	border-radius: 5px;
	text-decoration: none;
	margin-bottom: 5px;
	color: black;
}

.banner {
	margin-top: 15px;
	
}

header {

	min-height: 300px;
	background: url('spa image 6.jpg') no-repeat;
	opacity: .75;
	border: 40px solid tan; 

	
}


h2 {
	color: ivory;
	font-family: sans-serif;
	text-align: center;

}

ul li {
	list-style-type: none;
}

h3 {
	color: khaki;
	letter-spacing: 1px;
	
}

a:link {
	color: tan;
}

a:active {
	color: green;
}

a:hover {
    color: darkorange;
} 

a:visited {
    color: khaki;
}

.resources {
	list-style-type: none;
}

.summary {
	text-align: center;
	color: khaki;
	padding: 3px;
	margin-top: 30px;
	padding-left: 12px;
	padding-right: 12px;
	font-size: 15px;
	font-family: sans-serif;
	font-weight: bold;
	opacity: .90;
	background-color: olive;
	width: 50%;
	margin-left: 375px;
	border: 2px solid darkkhaki;

}

.preamble {
	background-color: olive;
	color: ivory;
	padding: 3px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 15px;
	text-align: justify;
	border: 5px solid tan;
	opacity: .80;
	width: 65%;
	margin: 40px;
	margin-top: 300px;
}

.explanation {
	background-color: olive;
	color: ivory;
	padding: 3px;
	margin: 10px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 15px;
	text-align: justify;
	border: 5px solid tan;
	opacity: .80;
	width: 65%;
	margin-top: 30px;
	margin-left: 400px;
}

.participation {
	background-color: olive;
	color: ivory;
	padding: 3px;
	margin: 40px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 15px;
	text-align: justify;
	border: 5px solid tan;
	opacity: .80;
	margin-top: 30px;
	width: 65%;

}

.benefits {
	background-color: olive;
	color: ivory;
	padding: 3px;
	margin: 10px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 15px;
	text-align: justify;
	border: 5px solid tan;	
	opacity: .80;
	width: 65%;
	margin-top: 30px;
	margin-left: 400px;
}

.requirements {
	background-color: olive;
	color: ivory;
	padding: 3px;
	margin: 40px;
	padding-left: 10px;
	padding-right: 10px;
	border: 5px solid tan;
	text-align: justify;
	font-size: 10px;
	opacity: .80;
	width: 65%;
	margin-top: 35px;
	overflow: scroll;
}

.requirements h3{
	text-align: center;
	font-size: 12px;
}

aside div {
	float: left;
	text-align: left;
	column-gap: 70px;
	web-kit-column-gap: 60px;
	margin-left: 60px;
	margin-top: 10px;
	font-size: 14px;
}

.select{
	margin-left: 53px;
	padding: 5px;
}

.design-selection li{
	text-align: left;
	position: relative;
	margin-left: 20px;
}

.archives {
	margin-left: 53px;
	padding: 5px;
}

.design-archives li{
	text-align: left;
	position: relative;
	margin-left: 20px;
}

.resources {
	margin-left: 53px;
	padding: 5px;
}

.zen-resources li{
	text-align: left;
	position: relative;
	margin-left: 20px;
}

aside a:hover {
	color: red;
}
	

footer {
	font-size: 10px; 
	color: gray;
	margin: 45px;
}

body {
	background-image: url('spa image 1.jpg');
	margin: 80px;
	opacity: 10;
	}